<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="/modelobase/public/css/bootstrap.min.css" />
    <title>404 ERROR</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <h1>404 ERROR</h1>
    <table>
        <tr>
            <TH><img src="../../public/imgs/índice.jpg" class="rounded-circle border border-danger""></TH>
            <TH><h2>consulte a su quiropractico mas cercano</h2></TH>   
        </tr>
        


    </table>
    
    
    
</body>
</html>